/*Introducing ME :)
wishing friends and family merry christmas and happy new year in advance c*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: "Poppins", sans-serif;
}
/*font-family: "League Spartan", sans-serif;*/

/*Header CSS*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
    position: absolute;
    top: 0;
    left: 0;
}
#logo img{
    width: 75px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
header ul li{
    cursor: pointer;
}

header button, #cover button{
    padding: 12px 24px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 24px;
}

/*Cover section css*/

#cover{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px;
    gap: 15px;
    background-image: url(./images/da\ real\ real\ background.avif);
    background-size: cover;
    background-position: center;
}
h1{
    font-family: "League Spartan", sans-serif;
    font-size: 50px;
}

#cover p{
    max-width: 700px;

}

/*About section CSS*/

#about{
    width: 100%;
    min-height: 80vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#about div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
#about img{
    width: 70%;
}

#about h2{
    font-size: 100px;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    margin-bottom: 20px;
}

/*Christmas section CSS*/

#christmas{
    width: 100%;
    min-height: 80vh;
    background-image: url(./images/snowing-christmas-tree-cupcakes-isolated-blue-background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
    text-align: right;
}

#christmas h2{
    font-family: "League Spartan", sans-serif;
    margin-bottom: 20px;
    font-size: 35px;


}

#message{
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column
}

#christmas p span{
    font-weight: bold;
}